.topMargin {
    margin-top: 40px;
}


.animals {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.animalButton {
    display: flex;
    justify-content: space-evenly;
    width:100px;
    margin: 0 0 10px 0;
  }